<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="OrangeHRM Test" >
        <listeners>
            <listener class-name="Utility.ExtentReportListener" />
        </listeners>
        <test name="OrangeHRM Website Testing" parallel="methods" thread-count="2">
            <classes>
                <class name="Test.HRM_002_Home_VerifyNavigationToAdminUserManagementModule" />
                <class name="Test.HRM_003__UserManagement_VerifyUsersRecord" />
            </classes>
        </test>
    </suite>